@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap");
body {
  background-color: #07020d;
  background-image: url(https://cdn.pixabay.com/photo/2018/10/16/07/07/stars-3750824_960_720.png);
  text-align: center;
  margin: 0;
}
.gallery {
  font-family: "Reenie Beanie", cursive;
}
.gridbox {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  margin: 0 auto;
  width: 90%;
}
.gridbox > img {
  margin: 0 auto;
  height: 450px;
}
.gridbox > img:hover {
}
.top-container {
  color: #fcfbfe;
  font-family: "Reenie Beanie", cursive;
  text-align: center;
  position: relative;
  bottom: 260px;
  margin: 0 auto 0 auto;
}
.intro {
  font-family: "PT Mono", monospace;
  font-size: 1.5rem;
}
p {
  font-family: "PT Mono", monospace;

  margin: 10px auto;
}

h1 {
  font-size: 10rem;
  margin: 0;
  line-height: 1.5;
  color: #8338ec;
}

h2 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  color: #ff006e;
}
h3 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #8338ec;
  font-family: "Trispace", sans-serif;
}

.planet {
  width: 25%;
  position: absolute;
  top: 300px;
  right: 350px;
}
.planet-earth {
  width: 500px;
  margin: 0 auto;
  position: relative;
  bottom: 300px;
}
.astronaut {
  width: 25%;
  position: absolute;
  right: 50px;
  top: 30px;
}
.rocket {
  width: 20%;
  position: absolute;
  top: 300px;
  left: 40px;
}
hr {
  width: 4%;
  margin: 100px auto;

  border-top: dotted #ffc8dd 6px;
  border-bottom: none;
}
.middle-container {
  color: #fcfbfe;
}
.hello {
  width: 25%;
  margin: 0 auto;
}
.skill-img {
  width: 25%;
  float: left;
  margin-right: 1%;
}
.skill-img2 {
  width: 25%;
  float: right;
  margin-left: 1%;
}
.profile {
  width: 60%;
  margin: 50px auto 100px auto;
}
.p {
  text-decoration: underline;
  margin: 0;
  color: #fff;
}
.skill-row {
  width: 55%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.contact-me {
  width: 50%;
  margin: 50px auto 100px auto;
}
.btn {
  background: #ff006e;
  background-image: -webkit-linear-gradient(top, #ff006e, #8338ec);
  -webkit-border-radius: 10;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 25px;
}
p {
  color: white;
  margin-bottom: 50px;
}
.grow img {
  transition: 1s ease;
}

.grow img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
.btn:hover {
  background: #f72585;
  background-image: -webkit-linear-gradient(top, #f15bb5, #9b5de5);
  text-decoration: none;
}

.bottom-container {
  background-image: linear-gradient(
    90deg,
    #ffd6ff,
    #e7c6ff,
    #c8b6ff,
    #b8c0ff,
    #bbd0ff
  );
  margin: 70px 0 0 0;
  padding: 3%;
}
a {
  text-decoration: none;
  color: black;
  margin: 10px 20px 10px 20px;
  font-family: "PT Mono", monospace;
}
a:hover {
  color: grey;
}
@media screen and (max-width: 1100px) {
  .gridbox {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 600px) {
  .gridbox {
    grid-template-columns: auto;
  }
}
